@page "/cargar-inmueble"
@rendermode InteractiveServer
@inject NavigationManager Nav

@using System.Security.Claims
@inject IRepositorioInmueble RepositorioInmueble
@inject CasoDeUsoAltaInmueble CasoDeUsoAltaInmueble
@using Microsoft.AspNetCore.Authorization
@using Alquileres_Express.Aplicacion.Enumerativo
@inject IConfiguration config
@inject IHttpContextAccessor HttpContextAccessor
@inject ServicioFotos ServicioFotos
@inject ValidadorInmueble ValidadorInmueble

@attribute [Authorize (Roles = "Administrador, Gerente")]
@inject IJSRuntime JS


<PageTitle>Cargar inmueble</PageTitle>

<h1 class="form-label">Cargar Inmueble</h1>

<label class="form-label">Por favor, complete los siguientes campos:</label>

<label class="form-label">Nombre del Inmueble</label>
<input required=true type="text" @bind="inmueble.Nombre" placeholder="Nombre del Inmueble" class="form-control mb-2" />
<label class="form-label">Ciudad del Inmueble</label>
<input required=true type=" text" @bind="inmueble.Ciudad" placeholder="Ciudad del Inmueble" class="form-control mb-2" />

<label class="form-label">Dirección del Inmueble</label>
<input required=true type="text" @bind="inmueble.Direccion" placeholder="Dirección del Inmueble" class="form-control mb-2" />
<label class="form-label">Precio por día del Inmueble</label>
<input required=true type="number" @bind="inmueble.Precio" placeholder="Precio del Inmueble" class="form-control mb-2" />
<label class="form-label">Cantidad de camas del Inmueble</label>
<input required=true type="number" @bind="inmueble.CantidadDeCamas" placeholder="Cantidad de camas" class="form-control mb-2" />
<label class="form-label">Cantidad de habitaciones del Inmueble</label>
<input required=true type="number" @bind="inmueble.CantidadDeHabitaciones" placeholder="Cantidad de camas" class="form-control mb-2" />
<label class="form-label">Cantidad de baños del Inmueble</label>
<input required=true type="number" @bind="inmueble.Banios" placeholder="Cantidad de baños" class="form-control mb-2" />

<div class="mt-4">
    <label for="type">Elija un tipo de inmueble:</label>
    <p>Por defecto estará seleccionada la opción "Vivienda"</p>
    <select  @bind=inmueble.TipoInmueble>
    <option value="@TipoDeInmueble.Vivienda">Vivienda</option>
    <option value="@TipoDeInmueble.Negocio">Negocio</option>
    <option value="@TipoDeInmueble.Garaje">Garaje</option>
    </select>
</div>

<div class="mt-4">
    <label for="type">Elija una política de cancelación:</label>
    <p>Por defecto estará seleccionada la opción "Sin costo"</p>
    <select  @bind=inmueble.PoliticaDeCancelacion>
    <option value="@PoliticaDeCancelacion.SinCosto" >Sin costo</option>
    <option value="@PoliticaDeCancelacion.VeintePorcientoDeReembolso">Con 20% de reembolso</option>
    <option value="@PoliticaDeCancelacion.NoReembolsable">No reembolsable</option>
    </select>
</div>
<p> Por favor, elija una ubicación en el mapa para el Inmueble con el marcador</p> 
 <div id="map" class="my-4" style="height: 400px; width: 80%;">

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_9xydGamrZY4fHXdj39zwJPV-4FCUzbQ" async
    defer></script>
<script>
    function initializeMap(dotNetHelper) {
        function waitForGoogleMaps() {
        if (window.google && google.maps) {
            const initialPosition = { lat: -34.6037, lng: -58.3816 };
            const initialMarkerPosition = { lat: 0, lng: 0 };

            const map = new google.maps.Map(document.getElementById("map"), {
                center: initialPosition,
                zoom: 12,
            });

            const marker = new google.maps.Marker({
                position: initialMarkerPosition,
                map: map,
                draggable: true,
            });

            marker.addListener("dragend", () => {
                const position = marker.getPosition();
                dotNetHelper.invokeMethodAsync('ActualizarCoordenadas', position.lat(), position.lng());
            });

            map.addListener("click", (event) => {
                marker.setPosition(event.latLng);
                dotNetHelper.invokeMethodAsync('ActualizarCoordenadas', event.latLng.lat(), event.latLng.lng());
            });
        } else {
            // Intentá de nuevo en 100ms si Google aún no está listo
            setTimeout(waitForGoogleMaps, 100);
        }
    }

    waitForGoogleMaps();
};

</script>
</div> 

<InputFile accept=".jpg,.png,.jpeg" id="input" @key=@(inputFileId) OnChange="CaptureFiles" multiple/>
<button @onclick="GuardarFotos" class="btn btn-primary">Subir fotos</button>
<p> Fotos subidas: @fotos.Count</p>
@if (errorPorFaltaDeFotos != string.Empty)
    {
        <div class="alert alert-danger">
            <p>@errorPorFaltaDeFotos</p>
        </div>
    }

<button class="btn btn-primary" @onclick="() => Cargar()">Cargar Inmueble</button>


<div class="image-list">
    @foreach (var foto in fotos)
    {
        <div class="image-card">
            <img src="@foto.Url" />
            <button @onclick="()=>EliminarFoto(foto.Nombre)">Eliminar</button>
        </div>
    }
</div>

@foreach (var error in errores)
{
    <div class="alert alert-danger">
    <p>@error</p>
    </div>
}

@foreach (var error in erroresDeFotos)
{
    <div class="alert alert-danger">
    <p>@error</p>
    </div>
}
        



@code {
    Inmueble inmueble = new();
    public HttpContext? HttpContext { get; set; }
    private double Latitud { get; set; }
    private double Longitud { get; set; }
    private string mensajeError = string.Empty;
    private long maxFileSize = 1024 * 1024 * 5; // 5 MB
    private int maxAllowedFiles = 30;
    private List<String> errores = new();
    private string errorPorFaltaDeFotos = string.Empty;
    private List<string> erroresDeFotos = [];
    private List<Foto> fotos = new();
    private Guid inputFileId = Guid.NewGuid();
    private InputFileChangeEventArgs? browser;
    private void Cargar()
    {
        inmueble.CoordLat = Latitud;
        inmueble.CoordLong = Longitud;
        inmueble.Disponible = true;
        errores.Clear();
        if (fotos.Count == 0)
        {
            errorPorFaltaDeFotos = "Debe cargar al menos una foto del inmueble.";
            errores = ValidadorInmueble.Ejecutar(inmueble);
            StateHasChanged();
            return;
        }   
        if (erroresDeFotos.Count == 0 && CasoDeUsoAltaInmueble.Ejecutar(inmueble,RolUsuario.Gerente, out errores) != -1){
            ServicioFotos.PersistirFotos(fotos, inmueble.Id);
            Nav.NavigateTo("/?mensaje=Inmueble cargado correctamente");
        }
        else
        {
            StateHasChanged();
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
         if (firstRender)
        {
            var dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initializeMap", dotNetRef);
        }


    }

    [JSInvokable]
    public void ActualizarCoordenadas(double lat, double lng)
    {
        Latitud = lat;
        Longitud = lng;
        StateHasChanged(); 
        // Actualizar la interfaz de usuario
        
    }


    private void EliminarFoto(string nombre)
    {
        var foto = fotos.FirstOrDefault(f => f.Nombre == nombre);
        if (foto != null)
        {
            fotos.Remove(foto);
            File.Delete(Path.Combine(ServicioFotos.DevolverPathDelDirectorio(), nombre));
            StateHasChanged();
        }
        if (fotos.Count == 0)
        {
            browser = null;
        }
    }
    
    private async Task GuardarFotos()
    {
        try
        {
            erroresDeFotos.Clear();
            if (browser == null || browser.FileCount == 0)
            {
                errorPorFaltaDeFotos=("No se ha seleccionado ningúna foto.");
                return;
            }
            errorPorFaltaDeFotos = string.Empty;

            if (browser.FileCount > maxAllowedFiles || (browser.FileCount + fotos.Count) > maxAllowedFiles)
            {
                errorPorFaltaDeFotos=($"El número de máximo de fotos que puede cargar es {maxAllowedFiles}.");
                return;
            }   
            foreach(var file in browser.GetMultipleFiles(maxAllowedFiles))
            {
                try{
                    if (file.Size > maxFileSize)
                    {
                        erroresDeFotos.Add($"La foto {file.Name} excede el tamaño máximo permitido de 5 MB y no se podrá agregar. Por favor elija otra foto");
                    }

                    else
                    {
                        crearArchivo(file);
                    }

                }
                catch (Exception ex)
                {
                    erroresDeFotos.Add($"Error al cargar la foto {file.Name}");
                }
            }
        }
        finally 
        {
            inputFileId = Guid.NewGuid();
            browser = null;
            StateHasChanged();
        }
    }
    private void CaptureFiles(InputFileChangeEventArgs e)
    {
        browser = e;
    }

    private async void crearArchivo(IBrowserFile file)
    {
        string newFileName = Path.ChangeExtension(
                    Path.GetRandomFileName(), 
                    Path.GetExtension(file.Name));
                    
                var pathFotosInmuebles = Path.GetFullPath(
                    Path.Combine(
                        Directory.GetCurrentDirectory(),
                       "wwwroot", "images","fotosInmuebles"));

                Directory.CreateDirectory(pathFotosInmuebles);

                var path = Path.Combine(pathFotosInmuebles, newFileName);
        
                await using FileStream fs = new(path, FileMode.Create);
                await file.OpenReadStream(maxFileSize).CopyToAsync(fs);
                fotos.Add(new Foto
                {
                    Url = $"/images/fotosInmuebles/{newFileName}",
                    Nombre = newFileName,
                });
                StateHasChanged();
    }

}

<style>
    .image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.image-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
</style>