@page "/listadoUsuario"
@rendermode InteractiveServer 
@inject CasoDeUsoListarUsuarios casoDeUsoListarUsuarios;



<table class="table">
    <thead>
        <tr>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>CORREO</th>
            <th>FECHA DE NACIMIENTO</th>
            <th>ROL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cli in _lista)
        {
            <tr>
                <td>@cli.Nombre</td>
                <td>@cli.Apellido</td>
                <td>@cli.Correo</td>
                <td>@cli.FechaNacimiento.ToShortDateString()</td>
                <td>@cli.Rol</td>
            </tr>
        }
    </tbody>
</table>


@code {
    List<Usuario> _lista = new List<Usuario>();
    protected override void OnInitialized()
    {
        _lista = casoDeUsoListarUsuarios.Ejecutar();
    }
} 